# Java
*.class

# Maven
target/
log/

# IntelliJ
.idea/
*.iml
out/

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.log
.spring-boot-devtools.properties
application.properties
application.yml
.env
/Proyecto_Final_BD_Database
/Proyecto_Final_BD_Frontend
Documentacion/Trabajo Escrito.docx
Documentacion/Script.pdf
Documentacion/Análisis FODA_Proyecto_BD.xlsx
Documentacion/Script.pdf
